.title
{
    text-align: center;
    margin-top: 25px;
    padding-right: 10px;
    background-color: aqua;
}

footer
{
    text-align: center;
    padding: 3px;
    background-color: lightblue;
    color: white;
}

.form
{
    margin: auto;
    max-width: 80%;
    text-align: center;
}

input[type='submit'], button, [aria-label]
{
    cursor: pointer;
}

#edit-box
{
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}

td
{
    background-color: skyblue;
    padding-right: 10px;
    text-align: left;
}

.to-do
{
    background: transparent !important;
    padding-right: 10px;
    text-align: center;
    background-color: aquamarine;
}